<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container-lg">
            <div class="w-full mx-auto max-w-2xl">
                <h3 class="font-bold text-2xl mb-6">Your feedback has been recorded successfully</h3>
                <a href="/" class="underline hover:font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">< Home</a>
            </div>
        </div>
    </body>
</html>